
:root {
/*Primary*/ 
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/*Neutral*/ 
--Dark-Grayish-Red: hsl(0, 6%, 24%);

// Gradients
// --Linear, 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
// --Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

// ## Typography
--Font-size: 16px;

// --Family: [Josefin Sans]
// (https://fonts.google.com/specimen/Josefin+Sans);
--lightWeight: 300;
--felterWeight: 400;
--heavyWeight: 600;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--Font-size);
}




/*Attribution*/ 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }